<div *ngIf="!loading" id="integration" class="row">
  <div class="col-auto col-left">
    <div class="card">
      <div class="card-body">
        <img [src]="channel.picture_url" class="integration-icon-lg"/>
      </div>
    </div>
    <a [routerLink]="['/apps', app.id, 'integrations', 'android']" class="btn btn-primary btn-lg btn-block mt-4">
      Ver detalhes
    </a>
    <div class="card mt-4">
      <div class="card-body">
        <h4>Relacionados</h4>
        <a [routerLink]="['/guides', 'android']" class="d-block">
          Documentação
        </a>
      </div>
    </div>
  </div>
  <div class="col pl-4">
    <span class="badge badge-lg badge-secondary">Canal do Cliente</span>
    <h1>Android</h1>
    <h5 class="subtitle">Converse em tempo real com os clientes do seu aplicativo Android.</h5>
    <hr/>
    <div *ngIf="!integration">
      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">1º Passo - Importe a biblioteca</h5>
          <p>Adicione a biblioteca Android do Ayro como dependência do seu projeto.</p>
          <p>Usando Gradle:</p>
          <div class="highlight mb-3">
            <code>compile 'io.ayro:ayro:{{ sdkVersion }}'</code>
          </div>
          <p>Usando Maven:</p>
          <div class="highlight">
            <pre><code>&lt;dependency&gt;
&lt;groupId&gt;io.ayro&lt;/groupId&gt;
&lt;artifactId&gt;ayro&lt;/artifactId&gt;
&lt;version&gt;{{ sdkVersion }}&lt;/version&gt;
&lt;/dependency&gt;</code></pre>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">2º Passo - Inicialize a biblioteca</h5>
          <p>Inicialize a biblioteca incluindo o código a seguir no método <code>onCreate</code> da sua classe que estende Application.</p>
          <div class="highlight">
            <pre><code>Settings settings = new Settings("{{ app.token }}");
Ayro.init(this, settings);</code></pre>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">3º Passo - Teste a integração</h5>
          <p>Rode o seu aplicativo Android depois de ter completado todos os passos anteriores e nos deixe saber se sua integração está funcionando corretamente clicando no botão abaixo.</p>
          <button (click)="testIntegration()" type="button" class="btn btn-primary mt-2">Testar integração</button>
        </div>
      </div>
    </div>
    <div *ngIf="integration">
      <form #form="ngForm" novalidate>
        <div class="row">
          <div class="col-12">
            <h4 class="mb-2">Token do app</h4>
            <p class="mb-2">Token utilizado para inicializar a integração com o seu aplicativo Android.</p>
            <div class="input-group">
              <p class="form-control">{{ app.token }}</p>
              <div class="input-group-append">
                <button ngxClipboard [cbContent]="app.token" (click)="copyAppToken()" type="button" class="btn btn-secondary">
                  Copiar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <h4 class="mb-2">Cor primária</h4>
            <p class="mb-2">Cor de fundo do Toolbar.</p>
            <div class="input-group">
              <div class="input-group-prepend">
                <span [ngStyle]="{'background-color': configuration.primary_color}" class="input-group-text input-color-prepend"></span>
              </div>
              <input [(ngModel)]="configuration.primary_color" type="text" id="primary-color" name="primary-color" class="form-control" maxlength="7" pattern="#\w{4,6}">
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <h4 class="mb-2">Cor da conversa</h4>
            <p class="mb-2">Cor de fundo da mensagem do cliente.</p>
            <div class="input-group">
              <div class="input-group-prepend">
                <span [ngStyle]="{'background-color': configuration.conversation_color}" class="input-group-text input-color-prepend"></span>
              </div>
              <input [(ngModel)]="configuration.conversation_color" type="text" id="conversation-color" name="conversation-color" class="form-control" maxlength="7" pattern="#\w{4,6}">
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <h4 class="mb-2">Firebase Cloud Messaging</h4>
            <p class="mb-2">O FCM é utilizado para enviar mensagens e notificações Push diretamente para seus clientes. Acesse o <a [routerLink]="['/guides', 'android']">guia</a> de integração com aplicativos Android para obter mais informações.</p>
            <div class="form-group">
              <label for="fcm-server-key">Server Key</label>
              <input [(ngModel)]="configuration.fcm.server_key" [disabled]="originalConfiguration.fcm" type="text" id="fcm-server-key" name="fcm-server-key" class="form-control">
            </div>
            <div class="form-group mb-2">
              <label for="fcm-server-key">Sender ID</label>
              <input [(ngModel)]="configuration.fcm.sender_id" [disabled]="originalConfiguration.fcm" type="text" id="fcm-sender-id" name="fcm-sender-id" class="form-control">
            </div>
            <a (click)="removeFCMConfiguration()" [hidden]="!originalConfiguration.fcm" class="text-danger cursor-pointer"><i class="fa fa-times mr-2"></i>Remover configuração do FCM</a>
          </div>
        </div>
        <hr/>
        <div class="row mt-4">
          <div class="col-md-6">
            <button (click)="updateConfiguration()" [disabled]="form.invalid" type="button" class="btn btn-primary float-left">
              Atualizar configuração
            </button>
          </div>
          <div class="col-md-6">
            <button (click)="removeIntegration()" type="button" class="btn btn-danger float-right">
              Remover integração
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>