<div *ngIf="app" class="container">
  <div class="row mt-4">
    <div class="col-md-3">
      <img [src]="channel.picture_url" class="card-img-top w-100"/>
      <div class="integration-links ml-3 mt-2">
        <a [routerLink]="['/apps', app.id, 'integrations', 'android']" class="d-block mt-4">
          Ver detalhes
        </a>
        <a [routerLink]="['/apps', 'integrations', 'android', 'docs']" class="d-block mt-2">
          Documentação
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <span *ngIf="channel.type === 'business'" class="integration-type-lg badge badge-secondary">
        Canal da Empresa
      </span>
      <span *ngIf="channel.type === 'customer'" class="integration-type-lg badge badge-secondary">
        Canal do Usuário
      </span>
      <h1 class="mt-2">{{ channel.name }}</h1>
      <hr/>
      <div *ngIf="!hasIntegration()">
        <div class="row mt-3">
          <div class="col-md-12">
            <h5 class="mb-3">1º Passo - Instale a biblioteca</h5>
            <p>Adicione a biblioteca Android do Chatz como dependência do seu projeto</p>
            <p>Usando Gradle:</p>
            <div class="highlight mb-3">
              <code>compile 'io.chatz:chatz:1.0.0'</code>
            </div>
            <p>Usando Maven:</p>
            <div class="highlight">
              <pre><code>&lt;dependency&gt;
  &lt;groupId&gt;io.chatz&lt;/groupId&gt;
  &lt;artifactId&gt;chatz&lt;/artifactId&gt;
  &lt;version&gt;1.0.0&lt;/version&gt;
&lt;/dependency&gt;</code></pre>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5 class="mt-4 mb-3">2º Passo - Inicialize a biblioteca</h5>
            <p>Inicialize a biblioteca incluindo o código a seguir no método <code>onCreate</code> da sua classe que estende Application.</p>
            <div class="highlight">
              <code>ChatzIO.init(this, "{{ app.token }}")</code>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5 class="mt-4 mb-3">3º Passo - Teste a integração</h5>
            <p>Rode o seu aplicativo Android depois de ter completado todos os passos anteriores e nos deixe saber se sua integração está funcionando corretamente clicando no botão abaixo.</p>
            <button (click)="testIntegration()" type="button" class="btn btn-primary mt-2">Testar integração</button>
          </div>
        </div>
      </div>
      <div *ngIf="hasIntegration()">
        <form novalidate>
          <div class="row">
            <div class="col-md-12">
              <h4>Token do app</h4>
              <div class="input-group">
                <p class="form-control">{{ app.token }}</p>
                <span class="input-group-btn">
                  <button (click)="copyAppToken()" type="button" class="btn btn-secondary">
                    Copy
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <h4>Firebase Cloud Messaging</h4>
              <div class="form-group">
                <label for="fcm-server-key">Server Key</label>
                <input [(ngModel)]="configuration.fcm.server_key" type="text" id="fcm-server-key" name="fcm-server-key" class="form-control">
              </div>
              <div class="form-group">
                <label for="fcm-server-key">Sender ID</label>
                <input [(ngModel)]="configuration.fcm.sender_id" type="text" id="fcm-sender-id" name="fcm-sender-id" class="form-control">
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <hr/>
              <button (click)="updateConfiguration()" type="button" class="btn btn-primary float-left">
                Atualizar configuração
              </button>
              <button (click)="removeIntegration()" type="button" class="btn btn-danger float-right">
                Remover integração
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>