<div class="container-fluid fill-height">
  <div class="row align-items-center justify-content-center fill-height">
    <div class="col-md-5">
      <form (ngSubmit)="signIn()" novalidate>
        <h2 class="mb-4">Enter with your Chatz account</h2>
        <div class="form-group">
          <label for="email">Email</label>
          <input [(ngModel)]="email" type="text" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [(ngModel)]="password" type="text" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">SIGN IN</button>
      </form>
    </div>
  </div>
</div>