<div class="container-fluid fill-height">
  <div class="row align-items-center justify-content-center fill-height">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input [(ngModel)]="email" type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [(ngModel)]="password" type="text" name="password" class="form-control">
        </div>
        <button type="button" class="btn btn-info btn-block" (click)="signIn()">Sign In</button>
      </form>
    </div>
  </div>
</div>