.font-light {
  font-weight: 100
}
.align-center {
  text-align: center;
}
.align-vmiddle {
  vertical-align: middle;
}
.input-group-prepend {
  .input-color-prepend {
    width: 50px;
    border: none;
  }
}
.btn-file  {
  input[type=file] {
    display: none;
  }
}