<ng-container *ngIf="!loading">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <img [src]="channel.picture_url" class="w-100"/>
        </div>
      </div>
      <button [routerLink]="['setup']" type="button" class="btn btn-primary btn-lg btn-block mt-4">
        <span *ngIf="!integration">Integrar</span>
        <span *ngIf="integration">Configurar</span>
      </button>
      <div class="card mt-4">
        <div class="card-body">
          <h4>Relacionados</h4>
          <a href="https://www.messenger.com" target="_blank" class="d-block mt-2">
            Website do Messenger
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <span *ngIf="channel.type === 'business'" class="integration-type-lg badge badge-secondary">
            Canal da Empresa
          </span>
          <span *ngIf="channel.type === 'user'" class="integration-type-lg badge badge-secondary">
            Canal do Usuário
          </span>
          <h1 class="mt-0 mb-0">{{ channel.name }}</h1>
          <p class="integration-subtitle mb-0">Converse com os visitantes da sua página no Facebook, direto do canal da empresa.</p>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body integration-description">
          <p>Messenger é o maior aplicativo de mensagens do mundo, contando com mais de 2 bilhões de usuários ativos todos os meses.</p>
          <p>Simplifique o suporte aos visitantes da sua página no Facebook, centralizando as mensagens enviadas através Messenger no canal da empresa.</p>
          <h4>Funcionalidades</h4>
          <ul>
            <li>Os visitantes da sua página enviam mensagens através Messenger e seu time as recebe no canal da empresa.</li>
            <li>Seu time responde no canal da empresa e o visitante da página recebe a mensagem direto no Messenger.</li>
          </ul>
          <h4>Requerimentos</h4>
          <ul>
            <li>Uma conta no Facebook. Você pode criar uma conta gratuita em <a href="https://www.facebook.com" target="_blank">https://www.facebook.com</a>.</li>
            <li>Uma página no Facebook.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>