<div class="row">
  <div class="col-12">
    <h3>Canais do Cliente</h3>
    <p class="mb-2">Onde seus clientes estão? Integre seu app com os canais do cliente e converse com eles onde quer que estejam.</p>
  </div>
</div>
<div class="row align-center">
  <div *ngFor="let channel of userChannels; trackBy: trackByChannel" class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mt-3">
      <div class="card-body">
        <img [src]="channel.picture_url" class="card-img-top integration-icon"/>
        <h4 class="card-title mt-2">{{ channel.name }}</h4>
        <a *ngIf="channel.released" [routerLink]="[channel.id]" class="btn btn-primary">Ver detalhes</a>
        <a *ngIf="!channel.released" class="btn btn-default" disabled>Em breve...</a>
      </div>
    </div>
  </div>
</div>
<div class="row pt-4">
  <div class="col-12">
    <h3>Canais da Empresa</h3>
    <p class="mb-2">Converse com seus clientes diretamente das melhores ferramentas de comunicação do mercado na atualidade.</p>
  </div>
</div>
<div class="row align-center">
  <div *ngFor="let channel of businessChannels; trackBy: trackByChannel" class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mt-3">
      <div class="card-body">
        <img [src]="channel.picture_url" class="card-img-top integration-icon"/>
        <h4 class="card-title mt-2">{{ channel.name }}</h4>
        <a *ngIf="channel.released" [routerLink]="[channel.id]" class="btn btn-primary">Ver detalhes</a>
        <a *ngIf="!channel.released" class="btn btn-default" disabled>Em breve...</a>
      </div>
    </div>
  </div>
</div>