<div class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>
        Customer channels
      </h3>
    </div>
  </div>
  <div class="row align-center pt-2">
    <div *ngFor="let channel of customerChannels" class="col-md-3">
      <div class="card pt-3">
        <span>
          <img [src]="channel.picture_url" class="card-img-top integration-icon"/>
        </span>
        <div class="card-body">
          <h4 class="card-title">{{ channel.name }}</h4>
          <a [routerLink]="[channel.id]" class="btn btn-primary">View details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-md-12">
      <h3>
        Business channels
      </h3>
    </div>
  </div>
  <div class="row align-center pt-2">
    <div *ngFor="let channel of businessChannels" class="col-md-3">
      <div class="card">
        <span>
          <img [src]="channel.picture_url" class="card-img-top integration-icon"/>
        </span>
        <div class="card-body">
          <h4 class="card-title">{{ channel.name }}</h4>
          <a [routerLink]="[channel.id]" class="btn btn-primary">View details</a>
        </div>
      </div>
    </div>
  </div>
</div>