<form novalidate (ngSubmit)="update()">
  <div class="modal-header">
    <h4 class="modal-title">Edit app information</h4>
    <button (click)="close()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row align-items-center justify-content-center fill-height">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">App name</label>
          <input [(ngModel)]="name" id="name" type="text" name="name" class="form-control" required>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="close()" type="button" class="btn btn-secondary">Close</button>
    <button type="submit" class="btn btn-primary btn-primary">Update</button>
  </div>
</form>