<div class="modal-header">
  <h4 class="modal-title">Edit app information</h4>
  <button (click)="close()" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="name">App name</label>
        <div class="row">
          <div class="col-md-9">
            <input [(ngModel)]="name" id="name" type="text" name="name" class="form-control" required>
          </div>
          <div class="col-md-3">
            <button (click)="updateName()" type="button" class="btn btn-primary btn-primary">Update</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="d-block" for="name">App icon</label>
        <img [src]="icon" class="app-icon-large rounded-circle"/>
        <label class="btn btn-primary btn-file ml-2">
          Browse
          <input (change)="updateIcon($event)" id="icon-input" type="file" accept="image/*">
        </label>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="close()" type="button" class="btn btn-secondary">Close</button>
</div>