<div id="terms">
  <div class="intro">
    <div class="container">
      <div class="section row">
        <div class="col-md-8 mx-auto">
          <h1>Termos de Uso</h1>
          <p>
            O documento a seguir descreve os termos de uso do Ayro. Antes de utilizar quaisquer serviços, é necessário ler, compreender e concordar com estes termos. A coluna à direita provê uma breve explicação sobre o termo de uso à esquerda, mas não possui nenhum vínculo jurídico.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="section row">
        <div class="col-md-7">
          <h3>ACEITE DOS TERMOS</h3>
          <p>
            Bem vindo aos termos de uso do Ayro ("Ayro", "Nós"). Este documento explica os termos pelos quais você pode utilizar o nosso serviço através do website ou softwares disponibilizados em conexão com o serviço ("Serviço").
          </p>
          <p>
            Ao utilizar o Serviço você automaticamente confirma que leu, entendeu e concordou com estes termos de uso, possuindo vínculo com este documento ("Contrato") e permitindo a coleta e uso de informações conforme descrito em nossa <a [routerLink]="['/privacy']">Política de Privacidade</a>.
          </p>
          <p>
            Este Contrato é aplicado a todas as pessoas física e jurídica que acessarem o Serviço ("Cliente").
          </p>
          <p>
            Sujeito aos termos e condições deste Contrato, é concedido a você uma licença não exclusiva, limitada, não transferível e livremente revogável para utilizar o serviço de forma pessoal e não comercial, conforme permitido pelas características do Serviço. Ayro reserva todos os direitos não concedidos expressamente no Serviço e conteúdo (conforme definido abaixo). Ayro pode cancelar esta licença a qualquer momento por qualquer motivo ou até mesmo sem motivo.
          </p>
        </div>
        <div class="col-md-5">
          <h3>BASICAMENTE,</h3>
          <p>
            Ao utilizar o website ou softwares disponibilizados em conexão com o Ayro, você aceita todos os termos abaixo.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>DESCRIÇÃO DO SERVIÇO</h3>
          <p>
            Ayro é uma plataforma multi canal de suporte à clientes que integra redes sociais, websites, aplicativos mobile, e-commerces e diversos outros canais.
          </p>
          <p>
            Com o Ayro é possível conversar em tempo real com clientes que estão em diversos canais de comunicação, desde que estes canais estejam integrados com sua conta.
          </p>
          <p>
            Nós oferecemos um único plano que inicia gratuito e tem o seu valor incrementado de acordo com o crescimento do seu negócio.
          </p>
          <p>
            Seu acesso e uso do Serviço pode ser interrompido eventualmente como resultado do mal funcionamento de equipamentos, atualização, manutenção ou reparação do Serviço, ou qualquer outra razão fora do nosso controle. Nós reservamos o direito de suspender ou descontinuar a disponibilidade do Serviço, e remover qualquer conteúdo a qualquer momento, com critério exclusivo e sem aviso prévio. Também podemos impor limites a certas funcionalidades, ou restringir seu acesso aos mesmos.
          </p>
        </div>
        <div class="col-md-5">
          <h3>BASICAMENTE,</h3>
          <p>
            Criamos uma plataforma de chat multi canal para dar suporte aos seus clientes. Oferecemos um plano que inicia gratuito e você paga de acordo com o crescimento do seu negócio. As vezes as coisas podem dar errado e o serviço pode ser interrompido.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>CADASTRO</h3>
          <p>
            Para ter acesso ao Serviço, é necessário criar uma conta fornecendo o nome da conta, e-mail para contato e uma senha.
          </p>
          <p>
            Você é o único responsável pelas atividades que ocorrem na sua conta, por isso é importante manter sua senha em segurança. Nós
            recomendamos o uso de senhas que combinam letras em caixa alta e baixa, números e símbolos.
          </p>
          <p>
            Você nunca deve utilizar a conta de outro cliente sem permissão. Em caso de violação de segurança ou uso não autorizado da sua conta, você deve notificar imediatamente o Ayro. Não nos responsabilizamos por qualquer perda causada devido ao acesso não autorizado à sua conta.
          </p>
          <p>
            Ao fornecer um email, você nos dá a permissão de utilizá-lo para enviar avisos relacionados ao Serviço. Podemos também utilizar o email informado para enviar notificações sobre novidades, ofertas especiais e alterações no termo de uso e política de privacidade. Você pode optar por não receber determinados emails cancelando sua assinatura da lista de emails do Ayro.
          </p>
        </div>
        <div class="col-md-5">
          <h3>BASICAMENTE,</h3>
          <p>
            Para ter acesso completo aos Serviços é necessário criar uma conta, sem violar os direitos de outras pessoas.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>PRIVACIDADE</h3>
          <p>
            Nós nos preocupamos bastante com a privacidade dos nossos Clientes, por isso trabalhamos constantemente para proteger melhor as informações associadas a sua conta. Para saber mais sobre as informações que coletamos e como usamos, acesse a nossa <a [routerLink]="['/privacy']">Política de Privacidade</a>.
          </p>
        </div>
        <div class="col-md-5">
          <h3>BASICAMENTE,</h3>
          <p>
            Leia a nossa <a [routerLink]="['/privacy']">Política de Privacidade</a> para saber sobre como coletamos e usamos suas informações.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>SEGURANÇA</h3>
          <p>
            Nós nos preocupamos também com a integridade e segurança das suas informações pessoais. Entretanto, não garantimos que uma terceira parte não autorizada nunca conseguirá derrotar as nossas medidas de segurança e use suas informações de forma indevida. Você reconhece que fornece suas informações a seu próprio risco.
          </p>
        </div>
        <div class="col-md-5">
          <h3>BASICAMENTE,</h3>
          <p>
            Leia a nossa <a [routerLink]="['/privacy']">Política de Privacidade</a> para saber sobre como coletamos e usamos suas informações.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>LINKS DE TERCEIROS</h3>
          <p>
            O Serviço pode conter links que levem a recursos que estão fora do domínio do Ayro. Como não temos controle sobre esses recursos externos, você reconhece e aceita que o Ayro não é responsável pela disponibilidade ou segurança desses recursos. Se você acessar qualquer recurso externo por meio do Ayro, você o faz por própria conta e concorda que Ayro não terá qualquer responsabilidade derivada do uso ou acesso aos recursos.
          </p>
        </div>
        <div class="col-md-5">
          <h3>BASICAMENTE,</h3>
          <p>
            Não nos responsabilizamos por danos causados em recursos fora do controle do Ayro, como por exemplo links para outros websites ou telas de outros aplicativos.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>DISPOSIÇÕES FINAIS</h3>
          <p>
            Se qualquer disposição destes termos e condições for inválida, ineficaz, ou, caso contenha alguma lacuna, não afetará a validade das demais disposições.
          </p>
          <p>
            Nós reservamos o direito de alterar os termos de uso a qualquer momento e a exclusivo critério, com o objetivo de atender aos requisitos legais e cobrir mudanças no Serviço.
          </p>
          <p>
            Quando modificarmos os termos de uso, atualizaremos a data da última modificação que se encontra na parte inferior deste documento. Você também poderá ser informado sobre as mudanças através do email fornecido no cadastro. Ayro não se responsabiliza por qualquer filtragem automática no seu provedor de email.
          </p>
          <p>
            Seu uso continuado do Serviço após tais mudanças constitui a sua aceitação dos novos termos de uso. Se você não concordar com algum destes termos ou quaisquer futuros termos de uso, não use ou acesse o Serviço.
          </p>
          <p>
            Por favor entre em contato conosco através do email contact@closic.com para tratar de qualquer assunto envolvendo este Contrato.
          </p>
        </div>
        <div class="col-md-5">
          <h3>BASICAMENTE,</h3>
          <p>
            Estes termos podem ser modificados a qualquer momento. O contínuo uso constitui na aceitação dos termos de uso.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-12">
          <p class="font-bold">
            As últimas modificações nos Termos de Uso ocorreram no dia 13 de novembro de 2017.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>