<ng-container *ngIf="!loading">
  <div *ngIf="app.integrations.length === 0" class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Converse com seus clientes</h4>
          <p class="card-text">Integre seu app com os canais de comunicação que você utiliza e converse com seus clientes onde quer que eles estejam.</p>
          <a [routerLink]="['integrations']" class="btn btn-primary">
            Ver integrações
          </a>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="app.integrations.length > 0">
    <div class="row">
      <div class="col-6">
        <h4>Integrações</h4>
      </div>
      <div class="col-6">
        <a [routerLink]="['integrations']" class="btn btn-primary float-right">
          Ver integrações
        </a>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let integration of app.integrations; trackBy: trackByIntegration" class="col-lg-3 col-md-4 col-sm-6 my-2">
        <a *ngIf="getChannel(integration.channel); let channel" [routerLink]="['integrations', channel.slug, 'setup']">
          <div class="card">
            <div class="card-body text-center">
              <img [src]="channel.picture_url" title="{{ channel.name }}" class="integration-icon-sm align-top"/>
              <h4 class="card-title text-gray mt-2 mb-0">{{ channel.name }}</h4>
              <span *ngIf="channel.type === 'user'" class="badge badge-info">
                Canal do Cliente
              </span>
              <span *ngIf="channel.type === 'business'" class="badge badge-success">
                Canal da Empresa
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ng-container>
  <div *ngIf="app.plugins.length === 0" class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Melhore a experiência do cliente</h4>
          <p class="card-text">Adicione funções inteligentes ao Chat, automatize suas mensagens e ofereça novas experiências para seus clientes.</p>
          <a [routerLink]="['plugins']" class="btn btn-primary">
            Ver plugins
          </a>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="app.plugins.length > 0">
    <div class="row mt-4">
      <div class="col-6">
        <h4>Plugins</h4>
      </div>
      <div class="col-6">
        <a [routerLink]="['plugins']" class="btn btn-primary float-right">
          Ver plugins
        </a>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let plugin of app.plugins; trackBy: trackByPlugin" class="col-lg-4 col-md-6 my-2">
        <a *ngIf="getPluginType(plugin.type); let pluginType" [routerLink]="['plugins', pluginType.slug, 'setup']">
          <div class="card">
            <div class="card-body text-center">
              <img [src]="pluginType.picture_url" title="{{ pluginType.name }}" class="plugin-icon-sm align-top"/>
              <h4 class="cart-title text-gray mt-2 mb-0">{{ pluginType.name }}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ng-container>
  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">App token</h4>
          <p class="card-text">Este é o token que você utilizará para inicializar as integrações com os canais do cliente.</p>
          <div class="row">
            <div class="col-lg-7">
              <div class="input-group">
                <p class="form-control">{{ app.token }}</p>
                <div class="input-group-append">
                  <button ngxClipboard [cbContent]="app.token" (click)="copyAppToken()" type="button" class="btn btn-secondary">
                    Copiar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">App secrets</h4>
          <p class="card-text">Os app secrets são utilizados nos SDKs para adicionar segurança no momento de <a [routerLink]="['/guides', 'user-identity']">autenticar seus usuários</a>.</p>
          <ng-container *ngIf="appSecrets.length > 0">
            <div class="row table-header py-2">
              <div class="col-sm-3">
                Identificador
              </div>
              <div class="col-sm-5">
                Secret
              </div>
              <div class="col-sm-3">
                Creation date (UTC)
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row no-gutters table-row py-2" *ngFor="let appSecret of appSecrets; trackBy: trackByAppSecret">
              <div class="col-sm-3 font-light">
                {{ appSecret.id }}
              </div>
              <div class="col-sm-5 font-light">
                {{ appSecret.secret }}
              </div>
              <div class="col-sm-3 font-light">
                {{ formatAppSecretDate(appSecret) }}
              </div>
              <div class="col-sm-1">
                <i (click)="removeAppSecret(appSecret)" class="fa fa-trash cursor-pointer text-danger"></i>
              </div>
            </div>
          </ng-container>
          <button (click)="createAppSecret()" class="btn btn-primary mt-3">Criar App secret</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <button (click)="deleteApp()" type="button" class="btn btn-danger float-right">
        Remover app
      </button>
    </div>
  </div>
</ng-container>