<form #form="ngForm" (ngSubmit)="delete()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">Remover app secret</h4>
    <button (click)="close()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <p>Deseja realmente remover este app secret?</p>
        <p class="mb-2">Identificador: {{ appSecret.id }}</p>
        <p>Criado em: {{ formatAppSecretDate(appSecret) }}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="close()" type="button" class="btn btn-secondary">Fechar</button>
    <button type="submit" class="btn btn-danger">Remover</button>
  </div>
</form>