<div class="container fill-height">
  <div class="row align-items-center pt-4">
    <div class="col-md-6">
      <img class="app-picture rounded-circle"/>
      <h3 class="d-inline-block ml-3">
        {{ app?.name }}
      </h3>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary float-right ml-2" [routerLink]="['integrations']">
        Browse integrations
      </button>
      <button class="btn btn-primary float-right" [routerLink]="['edit']">
        Edit app
      </button>
    </div>
  </div>
  <h4 class="mt-4">Integrations</h4>
  <div *ngFor="let integration of app?.integrations" class="row align-items-center mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">
            <img [src]="getChannel(integration.channel).picture_url" class="integration-picture-small"/>
            <span>{{ getChannel(integration.channel).name }}</span>
          </h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button class="btn btn-primary" [routerLink]="['integrations', 'android', 'setup']">
            Configure
          </button>
        </div>
      </div>
    </div>
  </div>
</div>