<div *ngIf="app" class="container fill-height">
  <div class="row align-items-center mt-4">
    <div class="col-md-6">
      <img [src]="app.getIconUrl()" class="app-icon rounded-circle"/>
      <h3 class="d-inline-block ml-3">
        <a [routerLink]="['/apps', app.id]">
          {{ app.name }}
        </a>
      </h3>
    </div>
    <div class="col-md-6">
      <a [routerLink]="['integrations']" class="btn btn-primary float-right ml-2">
        Browse integrations
      </a>
      <a (click)="editApp()" class="btn btn-primary float-right">
        Edit app
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>