<ayro-integration [channel]="channel" [setupPage]="true" (loaded)="onLoaded($event)">
  <div *ngIf="app" content>
    <div *ngIf="!integration">
      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">Para começar, por favor entre com sua conta do Facebook.</h5>
          <p>Ao conectar sua conta você nos dará permissão de enviar e receber mensagens via Messenger, através de um BOT.</p>
          <a class="btn btn-facebook" href="/apps/{{ app.id }}/integrations/facebook/connect?api_token={{ apiToken }}">
            <i class="fab fa-facebook-square align-middle pr-1"></i>
            <span class="ml-1 align-middle">Entrar com o Facebook</span>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="integration">
      <form novalidate>
        <div *ngIf="originalConfiguration.profile" class="form-row">
          <div class="form-group col-12 mb-4">
            <label>
              <h4 class="mb-0">Perfil conectado</h4>
            </label>
            <p class="mb-2">Perfil do Facebook que dá permissão ao Ayro para interagir com o Messenger.</p>
            <p class="mb-0">Você está conectado como <code>{{ originalConfiguration.profile.name }}</code>.</p>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <label for="connected-page">
              <h4 class="mb-0">Página conectada</h4>
            </label>
            <p class="mb-2">Página do Facebook escolhida para integração com o Ayro via Messenger.</p>
            <p *ngIf="originalConfiguration.page" class="mb-2">Você conectou a página <code>{{ originalConfiguration.page.name }}</code>.</p>
            <p *ngIf="!originalConfiguration.page" class="mb-2">Você ainda não conectou nenhuma página.</p>
            <div class="row">
              <div class="col-sm-5">
                <select [(ngModel)]="configuration.page" [compareWith]="compareFacebookPages" id="connected-page" name="connected-page" class="form-control">
                  <option *ngFor="let facebookPage of facebookPages; trackBy: trackByFacebookPage" [ngValue]="facebookPage" [selected]="configuration.page && configuration.page.id === facebookPage.id">{{ facebookPage.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-6">
            <button (click)="updateIntegration()" [disabled]="!configuration.page || facebookPages.length === 0" type="button" class="btn btn-primary btn-block-xs-only float-left">
              Atualizar configuração
            </button>
          </div>
          <div class="col-sm-6">
            <button (click)="removeIntegration()" type="button" class="btn btn-danger btn-block-xs-only mt-2 mt-sm-0 float-right">
              Remover integração
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ayro-integration>