<div id="privacy">
  <div class="intro">
    <div class="container">
      <div class="section row">
        <div class="col-md-8 mx-auto">
          <h1>Política de Privacidade</h1>
          <p>
            O documento a seguir descreve a política de privacidade do Ayro. Antes de utilizar quaisquer serviços, é necessário ler, compreender e concordar com esta política. A coluna à direita provê uma breve explicação sobre a política à esquerda, mas não possui nenhum vínculo jurídico.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="section row">
        <div class="col-md-7">
          <h3>SOBRE</h3>
          <p>
            Nós nos preocupamos bastante com a sua privacidade. Criamos este documento para te ajudar a entender um pouco mais sobre como coletamos e usamos suas informações na plataforma Ayro. Ao utilizar os nossos serviços você aceita as práticas descritas neste documento.
          </p>
          <p>
            Nós coletamos apenas as informações que são relevantes para o propósito dos nossos serviços. Essas informações nos permite prover para você a experiência de poder conversar em tempo real com seus clientes, independente do canal de comunicação que eles estejam usando.
          </p>
        </div>
        <div class="col-md-5">
          <h3>BASICAMENTE,</h3>
          <p>
            Ao utilizar o serviço Ayro, você aceita a política descrita neste documento.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>INFORMAÇÕES FORNECIDAS PELO CLIENTE</h3>
          <p class="text-justify text-bold padding-top">
            Dados de cadastro
          </p>
          <p>
            No momento da criação de uma conta nós coletamos apenas o nome da conta, e-mail para contato e uma senha.
          </p>
          <p>
            Nesta etapa nós utilizamos o e-mail para verificar a autenticidade do cliente. Será enviado um email com um link de confirmação da conta.
          </p>
          <p>
            Após o cadastro é possível alterar a qualquer momento as informações fornecidas, bem como escolher uma imagem para representar o seu negócio.
          </p>
          <p class="text-justify text-bold padding-top">
            Dados do usuário
          </p>
          <p>
            As informações dos usuários, como por exemplo o nome ou identificador único, só podem ser acessadas exclusivamente por pessoas associadas aos canais de comunicação da empresa, que estão integrados ao Ayro.
          </p>
          <p class="text-justify text-bold padding-top">
            Dados de integração com plataformas externas
          </p>
          <p>
            Ao integrar a conta Ayro com plataformas externas, algumas permissões são solicitadas para que a integração funcione corretamente. Todas as informações obtidas ao conceder as permissões são utilizadas unicamente por Ayro, podendo ser revogadas a qualquer momento através da página da integração.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>COMPARTILHAMENTO DE SUAS INFORMAÇÕES</h3>
          <p>
            Nós não divulgamos ou vendemos qualquer informação associada à conta do cliente para terceiros.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>PROTEÇÃO DAS SUAS INFORMAÇÕES</h3>
          <p>
            Nós nos preocupamos bastante com a segurança da sua informação, por isso sempre tentamos utilizar as melhores práticas em termos de segurança da informação, com o intuito de preversar a integridade e segurança de todas os dados coletadas. Entretanto, nenhum sistema é impenetrável e não podemos garantir que a segurança do nosso sistema seja inviolável. Caso ocorra um evento em que alguma informação sob o nosso controle seja comprometida como resultado da quebra de segurança, tomaremos as medidas razoáveis para investigar a situação e, se necessário, notificar aqueles indivíduos cuja informação pode ter sido comprometida. Tomaremos também outras medidas cabíveis, de acordo com a leis e regulamentos aplicáveis.
          </p>
        </div>
        <div class="col-md-5">
          <h3>BASICAMENTE,</h3>
          <p>
            Nos preocupamos bastante com suas informações, porém nenhum sistema é impenetrável. Tomaremos as medidas cabíveis, de acordo com leis e reulamentos, para tratar de eventuais quebras de segurança. Os clientes serão notificados em caso de possível violação no sistema.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>ALTERAÇÕES NAS POLÍTICAS DE PRIVACIDADE</h3>
          <p>
            Nós podemos, a exclusivo critério, modificar ou atualizar a política de privacidade de tempos em tempos. Por esta razão é importante revisar este documento periodicamente. Quando fizermos alterações na política, atualizaremos a data de última modificação que se encontra na parte inferior deste documento. Se houver alterações materiais, ou na forma como utilizaremos suas informações pessoais, iremos notificá-lo através do email associado a sua conta.
          </p>
          <p>
            Seu uso continuado do serviço após tais mudanças constitui a aceitação das novas políticas. Se você não concordar com alguma destas políticas ou quaisquer futuras políticas, não use ou acesse o serviço.
          </p>
        </div>
        <div class="col-md-5">
          <h3>BASICAMENTE,</h3>
          <p>
            Podemos alterar nossa política de privacidade a qualquer momento, por isso é importante revisar este documento periodicamente. Seu uso contínuo constitui a aceitação da política de privacidade.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-7">
          <h3>ENTRE EM CONTATO</h3>
          <p>
            Se você tem alguma dúvida sobre nossa política de privacidade, por favor entre em contato através do email contact@ayro.io.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-md-12">
          <p class="text-bold">
            As últimas modificações na Política de Privacidade ocorreram no dia 8 de fevereiro de 2018.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>