<div id="privacy">
  <div class="intro">
    <div class="container">
      <div class="section row">
        <div class="col-sm-8 mx-auto">
          <h1>Privacy Policy</h1>
          <p>
            The following document describes the privacy policy of Ayro. Before using any services, you must read, understand and agree to this policy. The column on the right provides a brief explanation of the policy on the left, but has no legal link.
          </p>
          <a [routerLink]="['/privacy']" class="pull-right" title="Português">
            <img class="lang-flag" src="/assets/img/flag_brazil.png">
          </a>
          <a [routerLink]="['/en/privacy']" class="pull-right" title="English">
            <img class="lang-flag" src="/assets/img/flag_usa.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="section row">
        <div class="col-sm-7">
          <h3>ABOUT</h3>
          <p>
            We care enough about your privacy. We've created this document to help you to understand a bit more about how we collect and use your information in Ayro platform. By using our services you accept the practices described in this document.
          </p>
          <p>
            We collect only information that is relevant to the purpose of our services. This information allows us to provide you the experience of being able to talk in real time with your customers, regardless of the communication channel they are using.
          </p>
        </div>
        <div class="col-sm-5">
          <h3>BASICALLY,</h3>
          <p>
            By using Ayro service, you accept the policy described in this document.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-sm-7">
          <h3>INFORMATION PROVIDED BY CUSTOMER</h3>
          <p class="text-justify font-bold padding-top">
            Registration data
          </p>
          <p>
            At the moment of an account creation we collect only the account name, contact email and a password.
          </p>
          <p>
            In this step we use the email to verify the authenticity of the client. An email with an account confirmation link will be sent.
          </p>
          <p>
            After registration you can change the information provided at any time, as well as choose an image to represent your business.
          </p>
          <p class="text-justify font-bold padding-top">
            User data
          </p>
          <p>
            User information, such as the name or unique identifier, can only be accessed exclusively by people associated with the company's communication channels, which are integrated with Ayro.
          </p>
          <p class="text-justify font-bold padding-top">
            Integration data with external platforms
          </p>
          <p>
            By integrating the Ayro account with external platforms, some permissions are required for the integration to work properly. All information obtained by granting the permissions is used solely by Ayro and may be revoked at any time through the integration page.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-sm-7">
          <h3>SHARING YOUR INFORMATION</h3>
          <p>
            We do not disclose or sell any information associated with the customer's account to third parties.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-sm-7">
          <h3>PROTECTION OF YOUR INFORMATION</h3>
          <p>
            We are very concerned about the security of your information, so we always try to use the best practices in terms of information security, in order to preserve the integrity and security of all data collected. However, no system is impenetrable and we can not guarantee that the security of our system is inviolable. In the case of an event where any information under our control is compromised as a result of the breach of security, we will take reasonable steps to investigate the situation and, if necessary, notify those individuals whose information may have been compromised. We will also take other appropriate action, in accordance with applicable laws and regulations.
          </p>
        </div>
        <div class="col-sm-5">
          <h3>BASICALLY,</h3>
          <p>
            We care a lot about your information, but no system is impenetrable. We will take the appropriate measures, in accordance with laws and regulations, to deal with any breaches of security. Customers will be notified in case of possible system violation.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-sm-7">
          <h3>CHANGES TO PRIVACY POLICY</h3>
          <p>
            We may, at its sole discretion, modify or update the privacy policy from time to time. For this reason it is important to review this document periodically. When we make changes to the policy, we will update the last modified date at the bottom of this document. If there are big changes, or how we will use your personal information, we will notify you via the email associated with your account.
          </p>
          <p>
            Your continued use of the service after such changes constitutes acceptance of the new policies. If you do not agree to any of these policies or any future policies, do not use or access the service.
          </p>
        </div>
        <div class="col-sm-5">
          <h3>BASICALLY,</h3>
          <p>
            We may change our privacy policy at any time, so it is important to review this document periodically. Your continued use constitutes your acceptance of the privacy policy.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-sm-7">
          <h3>GET IN TOUCH</h3>
          <p>
            If you have any questions about our privacy policy, please contact us at contact@ayro.io.
          </p>
        </div>
      </div>
      <div class="section row">
        <div class="col-sm-12">
          <p class="font-bold">
            The latest changes to the Privacy Policy occurred on February 8, 2018.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>