<div *ngIf="!loading" id="integration" class="row">
  <div class="col-auto col-left">
    <div class="card">
      <div class="card-body">
        <img [src]="channel.picture_url" class="integration-icon-lg"/>
      </div>
    </div>
    <a [routerLink]="['/apps', app.id, 'integrations', 'website']" class="btn btn-primary btn-lg btn-block mt-4">
      Ver detalhes
    </a>
    <div class="card mt-4">
      <div class="card-body">
        <h4>Relacionados</h4>
        <a [routerLink]="['/guides', 'website']" class="d-block">
          Documentação
        </a>
      </div>
    </div>
  </div>
  <div class="col pl-4">
    <span class="badge badge-lg badge-secondary">Canal do Cliente</span>
    <h1>Website</h1>
    <h5 class="subtitle">Converse em tempo real com os visitantes do seu Website.</h5>
    <hr/>
    <div *ngIf="!integration">
      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">1º Passo - Inclua a biblioteca</h5>
          <p>Inclua a biblioteca inserindo o código a seguir no final da tag <code>body</code> do HTML da página desejada.</p>
          <div class="highlight">
            <code>&lt;script type="text/javascript" src="{{ sdkUrl }}"&gt;&lt;/script&gt;</code>
          </div>
          <p>Você também pode optar por baixar a biblioteca (<a href="{{ sdkUrl }}" target="_blank">aqui</a>) e modificar o código acima para referenciar a biblioteca baixada.</p>
          <p>Para incluir a biblioteca utilizando outros métodos, acesse o <a [routerLink]="['/guides', 'website']">guia</a> de integração com Websites.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">2º Passo - Inicialize a biblioteca</h5>
          <p>Inicialize a biblioteca inserindo o código a seguir no final da tag <code>body</code> do HTML da página desejada, após o código inserido no passo anterior.</p>
          <div class="highlight">
            <pre><code>&lt;script&gt;
Ayro.init({{ '{' }}app_token: '{{ app.token }}'{{ '}' }});
&lt;/script&gt;</code></pre>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">3º Passo - Teste a integração</h5>
          <p>Rode o seu Website depois de ter completado todos os passos anteriores e nos deixe saber se sua integração está funcionando corretamente clicando no botão abaixo.</p>
          <button (click)="testIntegration()" type="button" class="btn btn-primary mt-2">
            Testar integração
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="integration">
      <form #form="ngForm" novalidate>
        <div class="row">
          <div class="col-12">
            <h4 class="mb-2">Token do app</h4>
            <p class="mb-2">Token utilizado para inicializar a integração com o seu Website.</p>
            <div class="input-group">
              <p class="form-control">{{ app.token }}</p>
              <div class="input-group-append">
                <button ngxClipboard [cbContent]="app.token" (click)="copyAppToken()" type="button" class="btn btn-secondary">
                  Copiar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <h4 class="mb-2">Cor primária</h4>
            <p class="mb-2">Cor de fundo do botão flutuante e cabeçalho da caixa de chat.</p>
            <div class="input-group">
              <div class="input-group-prepend">
                <span [ngStyle]="{'background-color': configuration.primary_color}" class="input-group-text input-color-prepend"></span>
              </div>
              <input [(ngModel)]="configuration.primary_color" type="text" id="primary-color" name="primary-color" class="form-control" maxlength="7" pattern="#\w{4,6}">
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <h4 class="mb-2">Cor da conversa</h4>
            <p class="mb-2">Cor de fundo da mensagem do cliente.</p>
            <div class="input-group">
              <div class="input-group-prepend">
                <span [ngStyle]="{'background-color': configuration.conversation_color}" class="input-group-text input-color-prepend"></span>
              </div>
              <input [(ngModel)]="configuration.conversation_color" type="text" id="conversation-color" name="conversation-color" class="form-control" maxlength="7" pattern="#\w{4,6}">
            </div>
          </div>
        </div>
        <hr/>
        <div class="row mt-4">
          <div class="col-md-6">
            <button (click)="updateConfiguration()" [disabled]="form.invalid" type="button" class="btn btn-primary float-left">
              Atualizar configuração
            </button>
          </div>
          <div class="col-md-6">
            <button (click)="removeIntegration()" type="button" class="btn btn-danger float-right">
              Remover integração
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>