<ng-container *ngIf="!loading">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <img [src]="channel.picture_url" class="w-100"/>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h4>Relacionados</h4>
          <a [routerLink]="['/apps', app.id, 'integrations', 'website']" class="d-block">
            Ver detalhes
          </a>
          <a [routerLink]="['/guides', 'website']" class="d-block mt-2">
            Documentação
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <span *ngIf="channel.type === 'business'" class="integration-type-lg badge badge-secondary">
            Canal da Empresa
          </span>
          <span *ngIf="channel.type === 'user'" class="integration-type-lg badge badge-secondary">
            Canal do Cliente
          </span>
          <h1 class="mt-0 mb-0">{{ channel.name }}</h1>
          <p class="integration-subtitle mb-0">Converse em tempo real com os visitantes do seu website.</p>
        </div>
      </div>
      <div *ngIf="!integration" class="card mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h5 class="mb-3">1º Passo - Inclua a biblioteca</h5>
              <p>Inclua a biblioteca inserindo o código a seguir no final da tag <code>body</code> do HTML da página desejada.</p>
              <div class="highlight">
                <code>&lt;script type="text/javascript" src="{{ sdkUrl }}"&gt;&lt;/script&gt;</code>
              </div>
              <p>Você também pode optar por baixar a biblioteca (<a href="{{ sdkUrl }}" target="_blank">aqui</a>) e modificar o código acima para referenciar a biblioteca baixada.</p>
              <p>Para incluir a biblioteca utilizando outros métodos, acesse o <a [routerLink]="['/guides', 'website']">guia</a> de integração com Websites.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5 class="mb-3">2º Passo - Inicialize a biblioteca</h5>
              <p>Inicialize a biblioteca inserindo o código a seguir no final da tag <code>body</code> do HTML da página desejada, após o código inserido no passo anterior.</p>
              <div class="highlight">
                <pre><code>&lt;script&gt;
  Ayro.init({{ '{' }}app_token: '{{ app.token }}'{{ '}' }});
&lt;/script&gt;</code></pre>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5 class="mb-3">3º Passo - Teste a integração</h5>
              <p>Rode o seu Website depois de ter completado todos os passos anteriores e nos deixe saber se sua integração está funcionando corretamente clicando no botão abaixo.</p>
              <button (click)="testIntegration()" type="button" class="btn btn-primary mt-2">
                Testar integração
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="integration" class="card mt-4">
        <div class="card-body">
          <form #form="ngForm" novalidate>
            <div class="row">
              <div class="col-md-12">
                <h4 class="mb-2">Token do app</h4>
                <p class="mb-2">Token utilizado para inicializar a integração com o seu Website.</p>
                <div class="input-group">
                  <p class="form-control">{{ app.token }}</p>
                  <div class="input-group-append">
                    <button ngxClipboard [cbContent]="app.token" (click)="copyAppToken()" type="button" class="btn btn-secondary">
                      Copiar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <h4 class="mb-2">Cor primária</h4>
                <p class="mb-2">Cor de fundo do botão flutuante e cabeçalho da caixa de chat.</p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span [ngStyle]="{'background-color': configuration.primary_color}" class="input-group-text input-color-prepend"></span>
                  </div>
                  <input [(ngModel)]="configuration.primary_color" type="text" id="primary-color" name="primary-color" class="form-control" maxlength="7" pattern="#\w{4,6}">
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <h4 class="mb-2">Cor da conversa</h4>
                <p class="mb-2">Cor de fundo da mensagem do cliente.</p>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span [ngStyle]="{'background-color': configuration.conversation_color}" class="input-group-text input-color-prepend"></span>
                  </div>
                  <input [(ngModel)]="configuration.conversation_color" type="text" id="conversation-color" name="conversation-color" class="form-control" maxlength="7" pattern="#\w{4,6}">
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <hr/>
                <button (click)="updateConfiguration()" [disabled]="form.invalid" type="button" class="btn btn-primary float-left">
                  Atualizar configuração
                </button>
                <button (click)="removeIntegration()" type="button" class="btn btn-danger float-right">
                  Remover integração
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>