<div *ngIf="app" class="container">
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <img [src]="channel.picture_url" class="card-img-top w-100"/>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <a [routerLink]="['/apps', 'integrations', 'android', 'docs']" class="d-block">
            Documentação
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card mb-4">
        <div class="card-body">
          <span *ngIf="channel.type === 'business'" class="integration-type-lg badge badge-secondary">
            Canal da Empresa
          </span>
          <span *ngIf="channel.type === 'user'" class="integration-type-lg badge badge-secondary">
            Canal do Usuário
          </span>
          <h1 class="mt-2">{{ channel.name }}</h1>
          <button *ngIf="!hasIntegration()" [routerLink]="['setup']" type="button" class="btn btn-primary mt-2 px-5">
            Integrar
          </button>
          <button *ngIf="hasIntegration()" [routerLink]="['setup']" type="button" class="btn btn-info mt-2 px-5">
            Configurar
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4>Para que serve?</h4>
          <ul>
            <li></li>
          </ul>
          <h4>Como funciona?</h4>
          <ul>
            <li></li>
          </ul>
          <h4>Do que preciso?</h4>
          <ul>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>