<ayro-integration [channel]="channel">
  <div content>
    <p>Adicione chat no seu aplicativo Android em apenas alguns minutos e converse em tempo real com seus clientes.</p>
    <h4>Funcionalidades</h4>
    <ul>
      <li>Seus clientes podem iniciar uma conversa em tempo real com você direto do seu aplicativo Android.</li>
      <li>Receba as mensagens dos clientes nos canais de comunicação da empresa.</li>
      <li>Identifique o cliente e receba as informações do perfil nos canais de comunicação da empresa.</li>
      <li>As conversas são persistidas e sincronizadas entre as sessões e canais do cliente.</li>
      <li>Customize o visual do chat de acordo com o visual do seu aplicativo Android.</li>
    </ul>
    <h4>Requerimentos</h4>
    <ul>
      <li>Conhecimentos básicos de Android.</li>
    </ul>
  </div>
</ayro-integration>