<div class="intro">
  <section class="blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center mb-4">Ainda usa e-mails para dar suporte a seus clientes?</h2>
          <h4 class="text-center">Demora horas para entender e solucionar o problema do cliente porque não consegue ter uma conversa eficiente? Já passou pela situação de não saber se seus clientes estão vendo suas mensagens?</h4>
        </div>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="container">
      <h2 class="text-center mb-4">Evolua em alguns minutos!</h2>
      <h4 class="text-center">Converse em tempo real com seus clientes, onde quer que eles estejam.</h4>
      <h4>Ńós somos uma empresa que irá simplificar a forma com que se comunica com seus clientes. Oferecemos uma plataforma de Chat multi canal que integra e centraliza </h4>
    </div>
  </section>
  <section class="blue">
    <div class="container">
      <h2 class="text-center mb-4">Conheça nossos produtos</h2>
      <h4>Adicione Chat no seu website ou aplicativo em alguns minutos deixe seus clientes conversarem em tempo real com você e sua equipe.</h4>
      <h4>Utilize as melhores ferramentas de comunicação do mercado para integrarir com seus clientes.</h4>
    </div>
  </section>
  <section class="white">
    <div class="container">
      <h2 class="text-center mb-4">Quanto custa?</h2>
      <h4>Muito simples! Um único plano que começa gratuito e você paga de acordo com o crescimento do seu negócio.</h4>
    </div>
  </section>
</div>