<div class="intro">
  <section class="blue">
    <div class="container text-center">
      <h2 class="mb-4">Ainda usa e-mails para dar suporte a seus clientes?</h2>
      <h2 class="mb-4">Precisa gerenciar conversas em várias redes sociais?</h2>
      <h4 class="mb-4">Demora horas para entender e solucionar o problema do cliente porque não consegue ter uma conversa eficiente? Já passou pela situação de não saber se seus clientes estão vendo suas mensagens?</h4>
      <h2>Temos uma solução!</h2>
      <a [routerLink]="['signup']" class="btn btn-primary btn-lg">Crie uma conta gratuitamente</a>
    </div>
  </section>
  <section class="white">
    <div class="container text-center">
      <h2 class="mb-4">Evolua em alguns minutos!</h2>
      <h4 class="mb-4">Converse em tempo real com seus clientes, onde quer que eles estejam.</h4>
      <h4 class="text-justify">Somos uma empresa que simplificará a forma com que se comunica com seus clientes. Oferecemos uma plataforma de Chat multi canal que integra redes sociais, websites, aplicativos, e-commerces e diversos outros canais.</h4>
      <h4 class="text-justify">Todas as conversas são centralizadas em uma ferramenta de comunicação de sua escolha.</h4>
    </div>
  </section>
  <section class="blue">
    <div class="container  text-center">
      <h2 class="mb-4">Conheça nossos produtos</h2>
      <h4 class="text-left">Adicione Chat no seu website ou aplicativo em alguns minutos deixe seus clientes conversarem em tempo real com você e sua equipe.</h4>
      <h4 class="text-left">Utilize as melhores ferramentas de comunicação do mercado para integrarir com seus clientes.</h4>
    </div>
  </section>
  <section class="white">
    <div class="container text-center">
      <h2 class="mb-4">Quanto custa?</h2>
      <h4 class="text-left">Muito simples! Um único plano que começa gratuito e você paga de acordo com o crescimento do seu negócio.</h4>
      <a [routerLink]="['signup']" class="btn btn-primary btn-lg">Crie uma conta gratuitamente</a>
    </div>
  </section>
</div>