<div class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <h4>Configurações da Conta</h4>
      <div class="row mt-4">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label for="name">
                  <h5>Nome</h5>
                </label>
                <input [(ngModel)]="name" id="name" type="text" name="name" class="form-control" required>
              </div>
              <div class="form-group mt-2">
                <label for="email">
                  <h5>Email</h5>
                </label>
                <input [(ngModel)]="email" id="email" type="text" name="email" class="form-control" required>
              </div>
              <button (click)="update()" type="button" class="btn btn-primary btn-primary">Atualizar</button>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <div class="card">
              <div class="card-body">
                <label class="d-block" for="name">
                  <h5>Logo</h5>
                </label>
                <img [src]="logo" class="app-icon-lg rounded-circle mt-2"/>
                <label class="btn btn-primary btn-file ml-2">
                  Selecionar
                  <input (change)="updateLogo($event)" id="logo-input" type="file" accept="image/*">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>