<div *ngIf="!loading" id="integration" class="row">
  <div class="col-auto col-left">
    <div class="card">
      <div class="card-body">
        <img [src]="channel.picture_url" class="integration-icon-lg"/>
      </div>
    </div>
    <a *ngIf="app" [routerLink]="['setup']" class="btn btn-primary btn-lg btn-block mt-4">
      <span *ngIf="!integration">Integrar</span>
      <span *ngIf="integration">Configurar</span>
    </a>
    <div class="card mt-4">
      <div class="card-body">
        <h4>Relacionados</h4>
        <a [routerLink]="['/guides', 'website']" class="d-block">
          Documentação
        </a>
      </div>
    </div>
  </div>
  <div class="col pl-4">
    <span class="badge badge-lg badge-secondary">Canal do Cliente</span>
    <h1>Website</h1>
    <h5 class="subtitle">Converse em tempo real com os visitantes do seu Website.</h5>
    <hr/>
    <div class="description">
      <p>Adicione chat no seu Website em apenas alguns minutos e converse em tempo real com seus visitantes.</p>
      <h4>Funcionalidades</h4>
      <ul>
        <li>Seus visitantes podem iniciar uma conversa em tempo real com você direto do seu Website.</li>
        <li>Receba as mensagens dos visitantes nos canais de comunicação da empresa.</li>
        <li>Identifique o visitante e receba as informações do perfil no canal de comunicação da empresa.</li>
        <li>As conversas são persistidas e sincronizadas entre as sessões e canais do cliente.</li>
        <li>Customize o visual do chat de acordo com o visual do seu Website.</li>
      </ul>
      <h4>Requerimentos</h4>
      <ul>
        <li>Conhecimentos básicos de html e javascript.</li>
      </ul>
    </div>
  </div>
</div>