<div class="row">
  <div class="col-md-12">
    <h1 class="mb-3">Identidade do usuário</h1>
    <p>Ao integrar a biblioteca Ayro no seu Website ou aplicativo mobile, por padrão seus usuários iniciam conversas sem serem identificados. Você não saberá qual a relação do usuário com o seu sistema.</p>
    <p>Conhecendo a identidade do usuário, bem como suas informações, te ajuda a oferecer um suporte mais eficiente e direcionado ao usuário.</p>
    <p>Você pode identificar o usuário atribuindo um identificador único de acordo com o seu sistema. Todas as conversas desse usuário serão centralizadas em um único canal, independente de onde ele inicie a conversa (Website, aplicativo mobile, etc...).</p>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">Identificando o usuário</h3>
        <p>Para identificar seus usuários, basta seguir os códigos a seguir, de acordo com a biblioteca utilizada.</p>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Javascript</h4>
            <div class="highlight">
              <pre><code>Ayro.init({{ '{' }}app_token: '&lt;APP_TOKEN&gt;'{{ '}' }}).then(function() {{ '{' }}
  // Função login deve ser chamada após a inicialização do app
  Ayro.login({{ '{' }}
    uid: 'userId'
  {{ '}' }});
{{ '}' }});</code></pre>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Android</h4>
            <div class="highlight">
              <pre><code>User user = new User();
user.setUid("userId");
// Função login pode ser chamada a qualquer momento
Ayro.login(user);</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">Removendo identificação</h3>
        <p>Para remover a identificação dos usuários, basta seguir os códigos a seguir, de acordo com a biblioteca utilizada.</p>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Javascript</h4>
            <div class="highlight">
              <pre><code>Ayro.init({{ '{' }}app_token: '&lt;APP_TOKEN&gt;'{{ '}' }}).then(function() {{ '{' }}
  // Função logout deve ser chamada após a inicialização do app
  Ayro.logout();
{{ '}' }});</code></pre>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Android</h4>
            <div class="highlight">
              <pre><code>// Função logout pode ser chamada a qualquer momento
Ayro.logout();</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>