<div class="row">
  <div class="col-md-12">
    <h1 class="mb-3">Identidade do usuário</h1>
    <p>Ao integrar a biblioteca Ayro no seu Website ou aplicativo mobile, por padrão seus usuários iniciam conversas sem serem identificados. Você não saberá qual a relação do usuário com o seu sistema.</p>
    <p>Conhecendo a identidade do usuário, bem como suas informações, te ajuda a oferecer um suporte mais eficiente e direcionado ao usuário.</p>
    <p>Você pode identificar o usuário atribuindo um identificador único de acordo com o seu sistema. Todas as conversas desse usuário serão centralizadas em um único canal, independente de onde ele inicie a conversa (Website, aplicativo mobile, etc...).</p>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">Identificando o usuário</h3>
        <p>Para identificar seus usuários, basta seguir os códigos a seguir, de acordo com a biblioteca utilizada.</p>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Javascript</h4>
            <div class="highlight">
              <pre><code>Ayro.init({{ '{' }}app_token: '&lt;app_token&gt;'{{ '}' }}).then(function() {{ '{' }}
  // O token JWT deve gerado no seu backend
  const jwtToken = '&lt;jwt_token&gt;';
  // A função login deve ser chamada após a inicialização do app
  return Ayro.login({{ '{' }}
    uid: '&lt;user_id&gt;'
  {{ '}' }}, jwtToken);
{{ '}' }});</code></pre>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Android</h4>
            <div class="highlight">
              <pre><code>// O token JWT deve gerado no seu backend
String jwtToken = "&lt;jwt_token&gt;";
User user = new User();
user.setUid("&lt;user_id&gt;");
// O método login deve ser invocado após a inicialização do app
Ayro.login(user, jwtToken);</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">Obtendo o token JWT</h3>
        <p>JSON Web Tokens (JWT) é um método padrão para realizar autenticação de forma segura entre duas partes.</p>
        <p>Para gerar um token primeiramente é necessário criar um "App secret" associado ao seu App.</p>
        <img class="w-100 mb-3" src="/assets/img/guides/user-identity/app_secrets.png">
        <p>Utilize o identificador e o secret para gerar o token com as seguintes informações:</p>
        <div class="highlight">
          <pre><code>Header: {{ '{' }}
  "alg": "HS256",
  "typ": "JWT",
  "kid": "&lt;identificador&gt;"
{{ '}' }}
Payload: {{ '{' }}
  "scope": "user",
  "user": "&lt;user_id&gt;"
{{ '}' }}</code></pre>
        </div>
        <p>Utilitário para gerar e verificar tokens: <a href="https://jwt.io">https://jwt.io</a></p>
        <p>Biblioteca Javascript recomendada: <a href="https://github.com/auth0/node-jsonwebtoken">https://github.com/auth0/node-jsonwebtoken</a></p>
        <p>Biblioteca Java recomendada: <a href="https://github.com/auth0/java-jwt">https://github.com/auth0/java-jwt</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">Removendo identificação</h3>
        <p>Para remover a identificação dos usuários, basta seguir os códigos a seguir, de acordo com a biblioteca utilizada.</p>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Javascript</h4>
            <div class="highlight">
              <pre><code>Ayro.init({{ '{' }}app_token: '&lt;app_token&gt;'{{ '}' }}).then(function() {{ '{' }}
  // Função logout deve ser chamada após a inicialização do app
  Ayro.logout();
{{ '}' }});</code></pre>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Android</h4>
            <div class="highlight">
              <pre><code>// Função logout pode ser chamada a qualquer momento
Ayro.logout();</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>