<ayro-integration [channel]="channel">
  <div content>
    <p>Slack é uma ferramenta de comunicação e colaboração utilizada por milhões de pessoas todos os dias.</p>
    <p>Transforme esta incrível ferramenta em uma ferramenta de suporte ao cliente</p>
    <h4>Funcionalidades</h4>
    <ul>
      <li>Converse com seus clientes diretamente do Slack.</li>
      <li>Seja notificado instantaneamente quando seus clientes iniciarem uma conversa.</li>
      <li>Receba informações do perfil do cliente que iniciou uma conversa.</li>
      <li>Utilize junto com seu time as funções do Slack para organizar o atendimento ao cliente.</li>
      <li>As conversas são sincronizadas em todos os canais do cliente.</li>
    </ul>
    <h4>Como a integração funciona</h4>
    <p>Quando um cliente entra em contato com sua empresa através de algum canal de comunicação integrado ao Ayro, você será notificado inicialmente em um canal do Slack de sua escolha.</p>
    <p>Para cada cliente que entra em contato, é criado um canal especifico para atendê-lo. Você consegue conversar em tempo real dentro do próprio Slack utilizando o comando /send. Suas respostas são entregues imediatamente no canal de comunicação que o cliente utilizou para iniciar a conversa.</p>
    <p>Você pode utilizar todas as funcionalidades do Slack para organizar e colaborar com o seu time no atendimento aos clientes.</p>
    <h4>Requerimentos</h4>
    <ul>
      <li>Uma conta no Slack. Você pode criar uma conta gratuita em <a href="https://slack.com" target="_blank">https://slack.com</a>.</li>
    </ul>
  </div>
</ayro-integration>