<div *ngIf="!loading" class="container">
  <div *ngIf="apps.length === 0" class="row my-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2>Seja bem vindo!</h2>
          <h5 class="mt-4">Para começar a conversar com seus clientes de forma mais eficiente, crie o seu primeiro App.</h5>
          <hr class="my-4">
          <button (click)="createApp()" type="button" class="btn btn-primary btn-lg px-5">Criar app</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="apps.length > 0" class="row my-4">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <h3>Seus apps</h3>
        </div>
        <div class="col-6">
          <button (click)="createApp()" type="button" class="btn btn-primary btn-lg float-right">
            Criar app
          </button>
        </div>
      </div>
      <div class="row mt-2">
        <div *ngFor="let app of apps; trackBy: trackByApp" class="col-lg-6 mb-2">
          <a [routerLink]="[app.id]" class="font-light">
            <div class="card">
              <div class="card-body">
                <div class="float-left">
                  <img [src]="app.getIconUrl()" class="app-icon rounded-circle">
                </div>
                <div class="float-left ml-3">
                  <h3 class="card-title text-gray">{{ app.name }}</h3>
                  <div *ngIf="app.integrations.length > 0">
                    <img *ngFor="let integration of app.integrations; trackBy: trackByIntegration" [src]="getChannel(integration.channel).picture_url" class="integration-icon-mc mr-2">
                  </div>
                  <div *ngIf="app.integrations.length === 0">
                    <a [routerLink]="[app.id, 'integrations']" class="btn btn-primary">
                      Adicionar integrações
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>