<div class="container">
  <div class="row mt-4">
    <div class="col-md-3">
      <img [src]="channel?.picture_url" class="card-img-top w-100"/>
    </div>
    <div class="col-md-9">
      <h1>{{ channel?.name }}</h1>
      <button *ngIf="!hasIntegration()" [routerLink]="['setup']" type="button" class="btn btn-primary btn-lg mt-2">Integrate</button>
      <button *ngIf="hasIntegration()" [routerLink]="['setup']" type="button" class="btn btn-info btn-lg mt-2">Configure</button>
      <hr/>
    </div>
  </div>
</div>