@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html, body {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, p, small {
  font-weight: 100;
}
small {
  color: #6f6f6f;
}
.content {
  min-height: 100%;
  &::after {
    content: "";
    display: block;
    height: 140px;
  }
}