@import "general.less";
@import "header.less";
@import "footer.less";
@import "alerts.less";
@import "utils.less";

.account-logo {
  width: 38px;
  height: 38px;
  background: transparent;
}
.app-icon {
  width: 100px;
  height: 100px;
  background: transparent;
}
.app-icon-lg {
  width: 160px;
  height: 160px;
  background: transparent;
}
.integration-icon {
  width: 150px;
  height: 150px;
  background-color: transparent;
}
.integration-icon-sm {
  width: 75px;
  height: 75px;
  background-color: transparent;
}
.integration-icon-mc {
  width: 35px;
  height: 35px;
  background-color: transparent;
}
.integration-type {
  &.badge {
    font-size: 13px;
  }
}
.integration-type-lg {
  &.badge {
    font-size: 15px;
  }
}
.integration-subtitle {
  font-size: 20px;
  color: #777777;
}
.integration-description {
  ul {
    line-height: 2.5;
  }
}