<div class="row">
  <div class="col-md-12">
    <h1 class="mb-3">Integração com Websites</h1>
    <p>Deixe seus usuários conversarem com sua equipe diretamente do seu Website.</p>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3 font-bold">Instalação</h3>
        <p></p>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Usando tag script</h4>
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-3">1º Passo - Inclua a biblioteca</h5>
                <p>Inclua a biblioteca inserindo o código a seguir no final da tag <code>body</code> do HTML da página desejada.</p>
                <div class="highlight">
                  <code>&lt;script type="text/javascript" src="{{ sdkUrl }}"&gt;&lt;/script&gt;</code>
                </div>
                <p>Você também pode optar por baixar a biblioteca (<a href="{{ sdkUrl }}" target="_blank">aqui</a>) e modificar o código acima para referenciar a biblioteca baixada.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-3">2º Passo - Inicialize a biblioteca</h5>
                <p>Inicialize a biblioteca inserindo o código a seguir no final da tag <code>body</code> do HTML da página desejada, após o código inserido no passo anterior.</p>
                <div class="highlight">
                  <pre><code>&lt;script&gt;
  Ayro.init({{ '{' }}app_token: '&lt;app_token&gt;'{{ '}' }});
&lt;/script&gt;</code></pre>
                </div>
                <p>O token pode ser obtido acessando a página inicial do seu App.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Usando npm e browserify/webpack</h4>
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-3">1º Passo - Instale a biblioteca</h5>
                <div class="highlight">
                  <code>npm install ayro@{{ sdkVersion }}</code>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-3">2º Passo - Importe a biblioteca</h5>
                <div class="highlight">
                  <pre><code>// Usando require
const Ayro = require('ayro');
// Usando import
import * as Ayro from 'ayro';</code></pre>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-3">3º Passo - Inicialize a biblioteca</h5>
                <div class="highlight">
                  <pre><code>Ayro.init({{ '{' }}app_token: '&lt;app_token&gt;'{{ '}' }});</code></pre>
                </div>
                <p>O token pode ser obtido acessando a página inicial do seu App.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3 font-bold">Customizações</h3>
        <p>Você pode customizar o Chat para que ele fique com a aparência do seu Website.</p>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Aparência do Widget</h4>
            <p>Ao acessar a tela de configurações da integração com WordPress, você consegue customizar as cores de fundo do botão flutuante, cabeçalho da caixa de chat e balão da mensagem.</p>
            <div class="align-center">
              <img class="w-100" src="/assets/img/guides/website/setup_color.png">
              <img src="/assets/img/guides/website/floating_button.png">
              <img src="/assets/img/guides/website/conversation.png">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Textos</h4>
            <p>Português do Brasil é a língua padrão utilizada nos textos que aparecem na caixa de chat. Você pode alterar os textos padrões definindo propriedades na inicialização do Ayro.</p>
            <div class="highlight">
              <pre><code>Ayro.init({{ '{' }}
  app_token: '&lt;app_token&gt;',
  chatbox: {{ '{' }}
    // Título da caixa de chat
    title: 'Como podemos ajudá-lo?',
    // Placeholder do campo de texto da mensagem
    input_placeholder: 'Digite uma mensagem...'
  {{ '}' }}
{{ '}' }});</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>