<div class="row">
  <div class="col-md-12">
    <h1 class="mb-3">Informações do usuário</h1>
    <p>Conhecer o usuário te ajuda a oferecer um suporte mais eficiente e direcionado.</p>
    <p>A biblioteca do Ayro para Websites e aplicativos te permite registrar informações do usuário. Essas informações serão repassadas no canal da empresa, quando o usuário iniciar uma conversa.</p>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">Informações genéricas</h3>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Javascript</h4>
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-3">1º Passo - Definição do usuário</h5>
                <p>Crie um objeto javascript e defina os atributos do usuário.</p>
                <div class="highlight">
                  <pre><code>var user = {{ '{' }}
  uid: 'identificador único',
  first_name: 'primeiro nome',
  last_name: 'último nome',
  email: 'email',
  picture_url: 'url da imagem do usuário',
  signup_date: new Date()
{{ '}' }};</code></pre>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-3">2º Passo - Envio de informações</h5>
                <p>Envie as informações do usuário no momento do login.</p>
                <div class="highlight">
                  <pre><code>Ayro.login(user);</code></pre>
                </div>
                <p>Você também pode atualizar as informações em qualquer outro momento, após o login do usuário.</p>
                <div class="highlight">
                  <pre><code>Ayro.updateUser(user);</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Android</h4>
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-3">1º Passo - Definição do usuário</h5>
                <p>Crie uma instância da classe <code>User</code> e utilize os métodos setters para atribuir as informações do usuário.</p>
                <div class="highlight">
                  <pre><code>User user = new User();
user.setUid('identificador único');
user.setFirstName('primeiro nome');
user.setLastName('último nome');
user.setEmail('email');
user.setPictureUrl('url da imagem do usuário');
user.setSignUpDate(new Date());</code></pre>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5 class="mb-3">2º Passo - Envio de informações</h5>
                <p>Envie as informações do usuário no momento do login.</p>
                <div class="highlight">
                  <pre><code>Ayro.login(user);</code></pre>
                </div>
                <p>Você também pode atualizar as informações em qualquer outro momento, após o login do usuário.</p>
                <div class="highlight">
                  <pre><code>Ayro.updateUser(user);</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">Informações adicionais</h3>
        <p>Além das informações genéricas, você pode associar qualquer informação adicional ao usuário. Para isso, basta utilizar a propriedade <code>user.properties</code>.</p>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Javascript</h4>
            <div class="highlight">
              <pre><code>var user = {{ '{' }}
  properties: {{ '{' }}
    age: '18',
    gender: 'male'
  {{ '}' }}
{{ '}' }};
Ayro.updateUser(user);</code></pre>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">Biblioteca Android</h4>
            <div class="highlight">
              <pre><code>Map&lt;String, String&gt; properties = new HasMap&lt;&gt;();
properties.put('age', '18');
properties.put('gender', 'male');
User user = new User();
user.setProperties(properties);
Ayro.updateUser(user);</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>