<div class="row">
  <div class="col-md-12">
    <h1 class="mb-3">Integração com Slack</h1>
    <p>Converse com seus usuários diretamente do Slack.</p>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">Adicione o Chatz BOT no seu Workspace</h3>
        <p>Para que seja possível interagir com seus usuários diretamente do Slack, é necessário integrar seu Workspace com o Chatz BOT.</p>
        <p>Conecte com sua conta Slack nos dar permissão de interagir com seu Workspace.</p>
        <img class="w-100 mb-3" src="/assets/img/guides/slack/signin.png">
        <p>Em seguida vc pode escolher o canal que será utilizado para que receba as primeiras mensagens dos usuário.</p>
        <p>Você pode utilizar normalmente as funções do Slack para dividir o atendimento com as pessoas do seu time.</p>
        <img class="w-100 mb-3" src="/assets/img/guides/slack/channel-setup.png">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">Converse com seus usuários</h3>
        <p>Quando um usuário inicia uma conversa, é criado um canal do Slack exclusivo para atendê-lo.</p>
        <p>O nome do canal tem a inicial "chz", como por exemplo, "chz-sandro-simas".</p>
        <p>Para enviar uma mensagem ao usuário, basta utilizar o comando "/chz &lt;mensagem&gt;".</p>
        <img class="w-100 mb-3" src="/assets/img/guides/slack/cmd-chz.png">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-3">Perfil do usuário</h3>
        <p>As informações do perfil do usuário são enviadad toda vez que o usuário inicia uma conversa.</p>
        <p>Você também pode consultar o perfil através do comando "/profile".</p>
        <img class="w-100" src="/assets/img/guides/slack/cmd-profile.png">
      </div>
    </div>
  </div>
</div>