<nav class="navbar navbar-expand-lg navbar-toggleable-md">
  <div class="container-fluid">
    <a *ngIf="account" class="navbar-brand" [routerLink]="['/apps']">Chatz</a>
    <a *ngIf="!account" class="navbar-brand" [routerLink]="['/']">Chatz</a>
    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-content" class="collapse navbar-collapse">
      <ul *ngIf="!account" class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/signin']" class="nav-link mr-4">LOG IN</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/signup']" class="nav-link btn btn-primary">CADASTRAR</a>
        </li>
      </ul>
      <ul *ngIf="account" class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a id="account-menu" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="account?.getLogoUrl()" class="account-logo rounded-circle d-inline-block">
            <span class="ml-2">{{ account?.name }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="account-menu">
            <a [routerLink]="['/settings']" class="dropdown-item">Configurações</a>
            <a (click)="signOut()" class="dropdown-item">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>