<nav class="navbar navbar-light navbar-expand-sm">
  <div class="container-fluid">
    <a *ngIf="account" class="navbar-brand" [routerLink]="['/apps']">
      <img src="/assets/img/logo_header.png">
    </a>
    <a *ngIf="!account" class="navbar-brand" [routerLink]="['/']">
      <img src="/assets/img/logo_header.png">
    </a>
    <button *ngIf="!isSignInOrSignUpUrl()" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" type="button" class="navbar-toggler navbar-toggler-right" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="!loading" [ngbCollapse]="navbarCollapsed" id="navbar-content" class="navbar-collapse">
      <ul *ngIf="!account && !isSignInOrSignUpUrl()" class="navbar-nav ml-auto">
        <li class="nav-item nav-item mr-sm-2 mb-1 mb-sm-0">
          <a [routerLink]="['/signin']" class="btn btn-secondary">ENTRAR</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/signup']" class="btn btn-primary">CADASTRAR</a>
        </li>
      </ul>
      <ul *ngIf="account && !isSignInOrSignUpUrl()" class="navbar-nav d-block ml-auto">
        <li class="nav-item nav-item mr-sm-2 float-left">
          <a *ngIf="isIntroUrl()" [routerLink]="['/apps']" class="btn btn-primary">VER APPS</a>
        </li>
        <li class="nav-item dropdown float-right mt-1 mt-sm-0">
          <a id="account-menu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="account.getLogoUrl()" class="account-logo rounded-circle d-inline-block">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-menu">
            <a [routerLink]="['/settings']" class="dropdown-item">Configurações</a>
            <a (click)="logout()" class="dropdown-item cursor-pointer">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>