<nav class="navbar navbar-default navbar-toggleable-md">
  <div class="container">
    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Chatz.IO</a>
    <div id="navbar-content" class="collapse navbar-collapse">
      <div class="d-flex align-items-center ml-auto">
        <div class="navbar-avatar rounded-circle d-inline-block"></div>
        <span class="ml-2">{{ account?.name }}</span>
      </div>
    </div>
  </div>
</nav>