<div *ngIf="app" class="container">
  <div class="row mt-4">
    <div class="col-md-3">
      <img [src]="channel.picture_url" class="card-img-top w-100"/>
      <div class="integration-links ml-3 mt-2">
        <a [routerLink]="['/apps', app.id, 'integrations', 'slack']" class="d-block mt-4">View details</a>
        <a [routerLink]="['/apps', 'integrations', 'slack', 'docs']" class="d-block mt-2">Documentation</a>
        <a href="https://www.slack.com" target="_blank" class="d-block mt-2">Slack website</a>
      </div>
    </div>
    <div class="col-md-9">
      <h1>{{ channel.name }}</h1>
      <hr/>
      <div *ngIf="!hasIntegration()">
        <div class="row mt-3">
          <div class="col-md-12">
            <h5 class="mb-3">
              To get started please sign in with your Slack account.
            </h5>
            <a href="/apps/{{ app.id }}/integrations/slack/connect">
              <img src="https://api.slack.com/img/sign_in_with_slack.png"/>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="hasIntegration()">
        <form novalidate>
          <div class="row">
            <div class="col-md-12">
              <h4>Connected account</h4>
              <p>You are connected as <code>{{ originalConfiguration.user.name }}</code></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Support channel</h4>
              <p>The current support channel is <code>#{{ originalConfiguration.channel.name }}</code></p>
              <div class="row">
                <div class="col-md-4">
                  <select [(ngModel)]="configuration.channel" [compareWith]="compareChannels" name="main-channel" class="form-control">
                    <option *ngFor="let slackChannel of slackChannels" [ngValue]="slackChannel" [selected]="configuration.channel.id === slackChannel.id">{{ slackChannel.name }}</option>
                  </select>
                </div>
                <div class="col-md-8">
                  <button (click)="createChannel()" type="button" class="btn btn-primary">Create channel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <hr/>
              <button (click)="updateConfiguration()" type="button" class="btn btn-primary float-left">Update configuration</button>
              <button (click)="removeIntegration()" type="button" class="btn btn-danger float-right">Remove integration</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>