<footer class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="social">
          <a target="_blank" href="https://www.facebook.com/ayrolabs">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a class="ml-3" target="_blank" href="https://www.twitter.com/ayrolabs">
            <i class="fa fa-twitter-square"></i>
          </a>
          <a class="ml-3" target="_blank" href="https://www.github.com/ayrolabs">
            <i class="fa fa-github-square"></i>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <p class="text-bolder mb-2">FUNCIONALIDADES</p>
        <p class="mb-1"><a [routerLink]="['/apps', 'integrations']">Integrações</a></p>
      </div>
      <div class="col-md-2">
        <p class="text-bolder mb-2">DESENVOLVEDORES</p>
        <p class="mb-1"><a [routerLink]="['/guides']">Guia</a></p>
      </div>
      <div class="col-md-2">
        <p class="text-bolder mb-2">EMPRESA</p>
        <p class="mb-1"><a [routerLink]="['/terms']">Termos de uso</a></p>
        <p class="mb-1"><a [routerLink]="['/privacy']">Política de privacidade</a></p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="copyright text-right">
          <p>
            &copy; 2018 Todos os direitos reservados, Ayro.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>