<ng-container *ngIf="!loading">
  <ng-container *ngIf="app.integrations.length === 0">
    <div class="card">
      <div class="card-body">
        <h2>Converse com seus clientes!</h2>
        <h5 class="mt-4">Integre seu app com os canais de comunicação que você utiliza e converse com seus clientes onde quer que eles estejam.</h5>
        <hr class="my-4">
        <a [routerLink]="['integrations']" class="btn btn-primary btn-lg">
          Ver integrações
        </a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="app.integrations.length > 0">
    <div class="row">
      <div class="col-6">
        <h4>Integrações</h4>
      </div>
      <div class="col-6">
        <a [routerLink]="['integrations']" class="btn btn-primary float-right">
          Ver integrações
        </a>
      </div>
    </div>
    <div class="row align-items-center">
      <div *ngFor="let integration of app.integrations; trackBy: trackByIntegration" class="col-md-6 mt-2 mb-2">
        <div *ngIf="getChannel(integration.channel); let channel" class="card">
          <div class="card-body">
            <div class="row d-flex align-items-center">
              <div class="col-lg-8">
                <img [src]="channel.picture_url" class="integration-icon-sm align-top"/>
                <div class="d-inline-block ml-3">
                  <h4 class="mb-0">{{ channel.name }}</h4>
                  <span *ngIf="channel.type === 'business'" class="integration-type badge badge-secondary">
                    Canal da Empresa
                  </span>
                  <span *ngIf="channel.type === 'user'" class="integration-type badge badge-secondary">
                    Canal do Cliente
                  </span>
                </div>
              </div>
              <div class="col-lg-4">
                <a [routerLink]="['integrations', integration.channel, 'setup']" class="btn btn-primary float-right">
                  Configurar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-2">App token</h4>
          <p class="mb-2">Este é o token que você utilizará para inicializar as integrações com os canais do cliente.</p>
          <div class="row">
            <div class="col-lg-7">
              <div class="input-group">
                <p class="form-control">{{ app.token }}</p>
                <div class="input-group-append">
                  <button ngxClipboard [cbContent]="app.token" (click)="copyAppToken()" type="button" class="btn btn-secondary">
                    Copiar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-2">App secrets</h4>
          <p class="mb-2">Os app secrets são utilizados nos SDKs para adicionar segurança no momento de <a [routerLink]="['/guides', 'user-identity']">autenticar seus usuários</a>.</p>
          <ng-container *ngIf="appSecrets.length > 0">
            <div class="row table-header py-2">
              <div class="col-sm-3">
                Identificador
              </div>
              <div class="col-sm-5">
                Secret
              </div>
              <div class="col-sm-3">
                Creation date (UTC)
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row no-gutters table-row py-2" *ngFor="let appSecret of appSecrets; trackBy: trackByAppSecret">
              <div class="col-sm-3 font-light">
                {{ appSecret.id }}
              </div>
              <div class="col-sm-5 font-light">
                {{ appSecret.secret }}
              </div>
              <div class="col-sm-3 font-light">
                {{ formatAppSecretDate(appSecret) }}
              </div>
              <div class="col-sm-1">
                <i (click)="removeAppSecret(appSecret)" class="fa fa-trash cursor-pointer text-danger"></i>
              </div>
            </div>
          </ng-container>
          <button (click)="createAppSecret()" class="btn btn-primary mt-3">Criar App secret</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <button (click)="deleteApp()" type="button" class="btn btn-danger float-right">
        Remover app
      </button>
    </div>
  </div>
</ng-container>