<div *ngIf="app?.integrations.length === 0" class="row mt-4">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Hello, {{ account?.name }}!</h1>
      <h5 class="mt-4">To get started browse all available integrations and start talking to your customers.</h5>
      <hr class="my-4">
      <a [routerLink]="['integrations']" class="btn btn-primary btn-lg">Browse integrations</a>
    </div>
  </div>
</div>
<div *ngIf="app?.integrations.length > 0" class="row mt-4">
  <div class="col-md-12">
    <h4 class="mt-4">Integrations</h4>
    <div *ngFor="let integration of app?.integrations" class="row align-items-center mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">
              <img [src]="getChannel(integration.channel).picture_url" class="integration-picture-small"/>
              <span class="ml-2">{{ getChannel(integration.channel).name }}</span>
            </h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a [routerLink]="['integrations', integration.channel, 'setup']" class="btn btn-primary">
              Configure
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>